<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,84}</string>
			<key>spriteSourceSize</key>
			<string>{88,84}</string>
			<key>textureRect</key>
			<string>{{0,0},{87,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,84}</string>
			<key>spriteSourceSize</key>
			<string>{88,84}</string>
			<key>textureRect</key>
			<string>{{89,0},{87,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,84}</string>
			<key>spriteSourceSize</key>
			<string>{88,84}</string>
			<key>textureRect</key>
			<string>{{178,0},{87,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5,-3}</string>
			<key>spriteSize</key>
			<string>{200,201}</string>
			<key>spriteSourceSize</key>
			<string>{209,208}</string>
			<key>textureRect</key>
			<string>{{267,0},{200,201}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{470,0},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{586,0},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,113}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{702,0},{110,113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,113}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{0,86},{110,113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{115,86},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{470,112},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{586,112},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{702,112},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{0,198},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{113,198},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{226,202},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{339,202},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{702,222},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{452,224},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{0,308},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{162,312},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{614,332},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{324,383},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{0,467},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{162,471},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{103,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{486,383},{103,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{103,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{486,488},{103,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,105}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{594,491},{102,105}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,105}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{701,491},{102,105}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{103,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{324,542},{103,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{103,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{432,593},{103,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{103,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{540,595},{103,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{648,595},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{745,595},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,96}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{0,626},{93,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,96}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{98,630},{93,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{196,630},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{293,647},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{648,690},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{745,690},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{390,698},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{478,700},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{0,721},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{88,725},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{176,725},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{264,742},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{566,700},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{745,775},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{566,779},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{352,783},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{434,785},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{648,785},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{0,806},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{82,810},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{140,810},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{198,810},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{256,827},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{730,854},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{788,854},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{516,858},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5,-5}</string>
			<key>spriteSize</key>
			<string>{213,213}</string>
			<key>spriteSourceSize</key>
			<string>{229,229}</string>
			<key>textureRect</key>
			<string>{{256,882},{213,213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{137,137}</string>
			<key>spriteSourceSize</key>
			<string>{147,147}</string>
			<key>textureRect</key>
			<string>{{574,864},{137,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{67,70}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{82,865},{67,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{67,70}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{154,865},{67,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{67,70}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{0,885},{67,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{67,70}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{713,909},{67,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{67,70}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{785,909},{67,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{67,70}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{471,913},{67,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{67,70}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{72,934},{67,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{67,70}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{144,934},{67,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{67,70}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{0,954},{67,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{66,69}</string>
			<key>spriteSourceSize</key>
			<string>{67,71}</string>
			<key>textureRect</key>
			<string>{{713,978},{66,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{66,69}</string>
			<key>spriteSourceSize</key>
			<string>{67,71}</string>
			<key>textureRect</key>
			<string>{{784,978},{66,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,68}</string>
			<key>spriteSourceSize</key>
			<string>{72,68}</string>
			<key>textureRect</key>
			<string>{{471,982},{71,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,62}</string>
			<key>spriteSourceSize</key>
			<string>{184,64}</string>
			<key>textureRect</key>
			<string>{{0,1023},{184,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,64}</string>
			<key>spriteSourceSize</key>
			<string>{184,64}</string>
			<key>textureRect</key>
			<string>{{544,1046},{184,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,64}</string>
			<key>spriteSourceSize</key>
			<string>{184,64}</string>
			<key>textureRect</key>
			<string>{{0,1087},{184,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet-hd.png</string>
		<key>size</key>
		<string>{855,1151}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet-hd.png</string>
	</dict>
</dict>
</plist>