<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{176,168}</string>
			<key>textureRect</key>
			<string>{{0,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{176,168}</string>
			<key>textureRect</key>
			<string>{{168,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{176,168}</string>
			<key>textureRect</key>
			<string>{{336,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-9}</string>
			<key>spriteSize</key>
			<string>{396,395}</string>
			<key>spriteSourceSize</key>
			<string>{418,416}</string>
			<key>textureRect</key>
			<string>{{504,0},{396,395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{902,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{1122,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-7}</string>
			<key>spriteSize</key>
			<string>{212,217}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{1342,0},{212,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-7}</string>
			<key>spriteSize</key>
			<string>{212,217}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{1561,0},{212,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{0,165},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{220,165},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{902,213},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{1122,213},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{1337,214},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{1552,214},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{210,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{0,378},{210,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{215,378},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{430,397},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{645,397},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{860,426},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{1173,427},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{0,591},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{313,610},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{626,733},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{939,734},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{1252,734},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1565,427},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1565,624},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-7}</string>
			<key>spriteSize</key>
			<string>{196,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1565,821},{196,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-7}</string>
			<key>spriteSize</key>
			<string>{196,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{0,898},{196,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{204,917},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{408,917},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1565,1019},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{612,1040},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{796,1041},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{180,183}</string>
			<key>spriteSourceSize</key>
			<string>{186,196}</string>
			<key>textureRect</key>
			<string>{{980,1041},{180,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{180,183}</string>
			<key>spriteSourceSize</key>
			<string>{186,196}</string>
			<key>textureRect</key>
			<string>{{1165,1041},{180,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{1350,1041},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{0,1096},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{184,1114},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{368,1114},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{1534,1216},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{160,163}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{535,1221},{160,163}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{160,163}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{700,1222},{160,163}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{1350,1222},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{865,1223},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{1032,1223},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{1199,1223},{148,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{0,1277},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{368,1278},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{153,1295},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{1199,1376},{148,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{1517,1380},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{521,1383},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{1670,1380},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{674,1384},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{100,103}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{1349,1386},{100,103}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{100,103}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{780,1387},{100,103}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{885,1387},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{991,1387},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{0,1427},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{9,-11}</string>
			<key>spriteSize</key>
			<string>{417,416}</string>
			<key>spriteSourceSize</key>
			<string>{458,458}</string>
			<key>textureRect</key>
			<string>{{780,1491},{417,416}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{6,-6}</string>
			<key>spriteSize</key>
			<string>{265,265}</string>
			<key>spriteSourceSize</key>
			<string>{294,294}</string>
			<key>textureRect</key>
			<string>{{106,1445},{265,265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{373,1428},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1349,1488},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1199,1529},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{1482,1530},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{1615,1530},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DimGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{506,1533},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{639,1533},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{373,1558},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{1332,1618},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Magenta.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1199,1659},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{1465,1660},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{1598,1660},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Salmon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{506,1663},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{639,1663},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{373,1688},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{0,1712},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{134,131}</string>
			<key>spriteSourceSize</key>
			<string>{144,136}</string>
			<key>textureRect</key>
			<string>{{129,1712},{134,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{369,114}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{1199,1790},{369,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{369,121}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{265,1814},{369,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{369,121}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{1199,1906},{369,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet-uhd.png</string>
		<key>size</key>
		<string>{1778,2027}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet-uhd.png</string>
	</dict>
</dict>
</plist>