<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,42}</string>
			<key>spriteSourceSize</key>
			<string>{44,42}</string>
			<key>textureRect</key>
			<string>{{0,0},{44,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,42}</string>
			<key>spriteSourceSize</key>
			<string>{44,42}</string>
			<key>textureRect</key>
			<string>{{46,0},{44,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,42}</string>
			<key>spriteSourceSize</key>
			<string>{44,42}</string>
			<key>textureRect</key>
			<string>{{92,0},{44,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{101,102}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{138,0},{101,102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{242,0},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{302,0},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{362,0},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{0,44},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{60,44},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{242,58},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{302,58},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{362,58},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{0,102},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{58,102},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{116,103},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{174,103},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{362,114},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{232,116},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{0,158},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{84,159},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{316,170},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{168,198},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{0,240},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{84,241},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{252,198},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{309,252},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{366,252},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{252,252},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{168,280},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{225,306},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{282,306},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{339,306},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{0,322},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{51,323},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{102,323},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{153,334},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{339,354},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{204,360},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{390,306},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{390,349},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{255,360},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{0,370},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{46,371},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{92,371},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{138,382},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{390,392},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{301,402},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{344,402},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{255,403},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{184,408},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{0,413},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{43,414},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{227,408},{26,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{86,414},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{117,425},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{148,425},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{387,432},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{298,442},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{227,439},{26,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{109,109}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{86,453},{109,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{73,73}</string>
			<key>textureRect</key>
			<string>{{0,454},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{329,442},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{255,443},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{367,460},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{197,470},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{293,470},{33,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{328,477},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{235,478},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{366,495},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{197,505},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,35}</string>
			<key>spriteSourceSize</key>
			<string>{33,35}</string>
			<key>textureRect</key>
			<string>{{273,508},{33,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,35}</string>
			<key>spriteSourceSize</key>
			<string>{33,35}</string>
			<key>textureRect</key>
			<string>{{310,512},{33,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,34}</string>
			<key>spriteSourceSize</key>
			<string>{36,34}</string>
			<key>textureRect</key>
			<string>{{235,513},{36,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,32}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{273,547},{92,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,32}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{72,564},{92,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,32}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{166,564},{92,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet.png</string>
		<key>size</key>
		<string>{434,596}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet.png</string>
	</dict>
</dict>
</plist>