<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>boost_01_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,164}</string>
				<key>spriteSourceSize</key>
				<string>{128,164}</string>
				<key>textureRect</key>
				<string>{{1630,836},{128,164}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_02_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{122,216}</string>
				<key>spriteSourceSize</key>
				<string>{122,216}</string>
				<key>textureRect</key>
				<string>{{484,1838},{122,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_03_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,216}</string>
				<key>spriteSourceSize</key>
				<string>{192,216}</string>
				<key>textureRect</key>
				<string>{{607,1838},{192,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_04_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{250,216}</string>
				<key>spriteSourceSize</key>
				<string>{250,216}</string>
				<key>textureRect</key>
				<string>{{0,1843},{250,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_05_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,0}</string>
				<key>spriteSize</key>
				<string>{253,206}</string>
				<key>spriteSourceSize</key>
				<string>{256,206}</string>
				<key>textureRect</key>
				<string>{{1770,1349},{253,206}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_challengeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{0,653},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_createBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{397,653},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_dailyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{848,0},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_fameBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{794,397},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_featuredBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{0,1050},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_gauntletsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{397,1050},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_highscoreBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{794,794},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapPacksBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1245,0},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_savedBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1191,397},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_searchBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1191,794},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_watchReplay_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-6}</string>
				<key>spriteSize</key>
				<string>{520,352}</string>
				<key>spriteSourceSize</key>
				<string>{532,364}</string>
				<key>textureRect</key>
				<string>{{0,228},{520,352}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_weeklyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{395,396}</string>
				<key>spriteSourceSize</key>
				<string>{417,418}</string>
				<key>textureRect</key>
				<string>{{0,1447},{395,396}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,2.5}</string>
				<key>spriteSize</key>
				<string>{174,173}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1588,662},{174,173}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,7.5}</string>
				<key>spriteSize</key>
				<string>{232,215}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{251,1843},{232,215}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,10}</string>
				<key>spriteSize</key>
				<string>{244,240}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1484,1808},{244,240}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,7.5}</string>
				<key>spriteSize</key>
				<string>{250,251}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1770,1556},{250,251}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,7.5}</string>
				<key>spriteSize</key>
				<string>{256,255}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1770,1093},{256,255}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,6.5}</string>
				<key>spriteSize</key>
				<string>{265,267}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1770,827},{265,267}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,6.5}</string>
				<key>spriteSize</key>
				<string>{272,271}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1800,554},{272,271}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,6.5}</string>
				<key>spriteSize</key>
				<string>{277,271}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1800,0},{277,271}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,6.5}</string>
				<key>spriteSize</key>
				<string>{275,269}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1800,278},{275,269}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_01_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-21.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{105,285}</string>
				<key>spriteSourceSize</key>
				<string>{148,286}</string>
				<key>textureRect</key>
				<string>{{1484,1522},{105,285}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_02_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-21.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{105,285}</string>
				<key>spriteSourceSize</key>
				<string>{148,286}</string>
				<key>textureRect</key>
				<string>{{1484,1628},{105,285}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_03_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1141,1191},{157,330}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_04_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1472,1191},{157,330}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_05_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-1.5}</string>
				<key>spriteSize</key>
				<string>{186,351}</string>
				<key>spriteSourceSize</key>
				<string>{196,354}</string>
				<key>textureRect</key>
				<string>{{600,154},{186,351}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_06_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-1.5}</string>
				<key>spriteSize</key>
				<string>{186,351}</string>
				<key>spriteSourceSize</key>
				<string>{196,354}</string>
				<key>textureRect</key>
				<string>{{397,1447},{186,351}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_07_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1153,1522},{157,330}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_08_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-20,-0.5}</string>
				<key>spriteSize</key>
				<string>{138,343}</string>
				<key>spriteSourceSize</key>
				<string>{178,344}</string>
				<key>textureRect</key>
				<string>{{875,1439},{138,343}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_09_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-20,-0.5}</string>
				<key>spriteSize</key>
				<string>{138,343}</string>
				<key>spriteSourceSize</key>
				<string>{178,344}</string>
				<key>textureRect</key>
				<string>{{1014,1439},{138,343}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_10_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1153,1680},{157,330}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_11_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{123,346}</string>
				<key>spriteSourceSize</key>
				<string>{124,348}</string>
				<key>textureRect</key>
				<string>{{794,1191},{123,346}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_12_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{123,346}</string>
				<key>spriteSourceSize</key>
				<string>{124,348}</string>
				<key>textureRect</key>
				<string>{{794,1315},{123,346}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_13_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1642,0},{157,330}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_14_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1642,331},{157,330}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_15_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-33,-1}</string>
				<key>spriteSize</key>
				<string>{96,350}</string>
				<key>spriteSourceSize</key>
				<string>{162,352}</string>
				<key>textureRect</key>
				<string>{{584,1447},{96,350}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_16_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-33,-1}</string>
				<key>spriteSize</key>
				<string>{96,350}</string>
				<key>spriteSourceSize</key>
				<string>{162,352}</string>
				<key>textureRect</key>
				<string>{{681,1447},{96,350}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_17_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-33,-1}</string>
				<key>spriteSize</key>
				<string>{96,350}</string>
				<key>spriteSourceSize</key>
				<string>{162,352}</string>
				<key>textureRect</key>
				<string>{{778,1447},{96,350}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{12.5,0.5}</string>
				<key>spriteSize</key>
				<string>{847,73}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,0},{847,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-15,0.5}</string>
				<key>spriteSize</key>
				<string>{786,79}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,74},{786,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-120.5,1.5}</string>
				<key>spriteSize</key>
				<string>{599,73}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,154},{599,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-186.5,2.5}</string>
				<key>spriteSize</key>
				<string>{475,71}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,581},{475,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-218,2.5}</string>
				<key>spriteSize</key>
				<string>{416,69}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{521,228},{416,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-285.5,4.5}</string>
				<key>spriteSize</key>
				<string>{281,67}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{1141,1349},{281,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-314.5,3.5}</string>
				<key>spriteSize</key>
				<string>{231,67}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{1484,1734},{231,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-391.5,6.5}</string>
				<key>spriteSize</key>
				<string>{85,59}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{787,74},{85,59}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA4444</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_GameSheet04-uhd.png</string>
			<key>size</key>
			<string>{2071,2059}</string>
			<key>textureFileName</key>
			<string>GJ_GameSheet04-uhd.png</string>
		</dict>
	</dict>
</plist>