<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_challengeBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{0,0},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_createBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{398,0},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_creatorBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{264,263}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{796,0},{264,263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_dailyBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1062,0},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_eventBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1460,0},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_featuredBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1858,0},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_freeLevelsBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-7}</string>
			<key>spriteSize</key>
			<string>{262,247}</string>
			<key>spriteSourceSize</key>
			<string>{266,262}</string>
			<key>textureRect</key>
			<string>{{2256,0},{262,247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_fullBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-7}</string>
			<key>spriteSize</key>
			<string>{317,265}</string>
			<key>spriteSourceSize</key>
			<string>{322,280}</string>
			<key>textureRect</key>
			<string>{{2256,249},{317,265}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_gauntletsBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{796,398},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_highscoreBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{0,398},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_listsBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{398,398},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1194,398},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapPacksBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1592,398},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_moreGamesBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{316,269}</string>
			<key>spriteSourceSize</key>
			<string>{330,280}</string>
			<key>textureRect</key>
			<string>{{1990,568},{316,269}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_pathsBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{0,796},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_playBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-11,1}</string>
			<key>spriteSize</key>
			<string>{401,383}</string>
			<key>spriteSourceSize</key>
			<string>{438,438}</string>
			<key>textureRect</key>
			<string>{{398,796},{401,383}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_safeBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{170,189}</string>
			<key>spriteSourceSize</key>
			<string>{174,196}</string>
			<key>textureRect</key>
			<string>{{2308,568},{170,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_savedBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{801,796},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_searchBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1199,796},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_versusBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1990,839},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_weeklyBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{395,396}</string>
			<key>spriteSourceSize</key>
			<string>{417,418}</string>
			<key>textureRect</key>
			<string>{{398,1181},{395,396}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_01_shine_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,164}</string>
			<key>spriteSourceSize</key>
			<string>{128,164}</string>
			<key>textureRect</key>
			<string>{{2388,740},{128,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_02_shine_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,216}</string>
			<key>spriteSourceSize</key>
			<string>{122,216}</string>
			<key>textureRect</key>
			<string>{{1597,796},{122,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_03_shine_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{192,216}</string>
			<key>spriteSourceSize</key>
			<string>{192,216}</string>
			<key>textureRect</key>
			<string>{{1597,920},{192,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_04_shine_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,216}</string>
			<key>spriteSourceSize</key>
			<string>{250,216}</string>
			<key>textureRect</key>
			<string>{{1597,1114},{250,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_05_shine_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{253,206}</string>
			<key>spriteSourceSize</key>
			<string>{256,206}</string>
			<key>textureRect</key>
			<string>{{796,1194},{253,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_dailyCrown_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{259,207}</string>
			<key>spriteSourceSize</key>
			<string>{331,238}</string>
			<key>textureRect</key>
			<string>{{0,1194},{259,207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_eventCrown_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-9,3}</string>
			<key>spriteSize</key>
			<string>{191,246}</string>
			<key>spriteSourceSize</key>
			<string>{322,252}</string>
			<key>textureRect</key>
			<string>{{1051,1194},{191,246}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gj_weeklyCrown_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{301,227}</string>
			<key>spriteSourceSize</key>
			<string>{331,238}</string>
			<key>textureRect</key>
			<string>{{1849,1237},{301,227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,3}</string>
			<key>spriteSize</key>
			<string>{176,174}</string>
			<key>spriteSourceSize</key>
			<string>{282,288}</string>
			<key>textureRect</key>
			<string>{{1299,1194},{176,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_002.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,8}</string>
			<key>spriteSize</key>
			<string>{234,216}</string>
			<key>spriteSourceSize</key>
			<string>{282,288}</string>
			<key>textureRect</key>
			<string>{{2152,1237},{234,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_003.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,11}</string>
			<key>spriteSize</key>
			<string>{246,242}</string>
			<key>spriteSourceSize</key>
			<string>{282,288}</string>
			<key>textureRect</key>
			<string>{{1477,1332},{246,242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_004.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,8}</string>
			<key>spriteSize</key>
			<string>{252,252}</string>
			<key>spriteSourceSize</key>
			<string>{282,288}</string>
			<key>textureRect</key>
			<string>{{1051,1387},{252,252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_005.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,8}</string>
			<key>spriteSize</key>
			<string>{257,256}</string>
			<key>spriteSourceSize</key>
			<string>{282,288}</string>
			<key>textureRect</key>
			<string>{{0,1403},{257,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_006.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,7}</string>
			<key>spriteSize</key>
			<string>{268,268}</string>
			<key>spriteSourceSize</key>
			<string>{282,288}</string>
			<key>textureRect</key>
			<string>{{2152,1455},{268,268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_007.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,7}</string>
			<key>spriteSize</key>
			<string>{276,272}</string>
			<key>spriteSourceSize</key>
			<string>{282,288}</string>
			<key>textureRect</key>
			<string>{{1725,1466},{276,272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_008.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,7}</string>
			<key>spriteSize</key>
			<string>{280,272}</string>
			<key>spriteSourceSize</key>
			<string>{282,288}</string>
			<key>textureRect</key>
			<string>{{1305,1576},{280,272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_009.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,7}</string>
			<key>spriteSize</key>
			<string>{276,270}</string>
			<key>spriteSourceSize</key>
			<string>{282,288}</string>
			<key>textureRect</key>
			<string>{{259,1578},{276,270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_01_back_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-44,-1}</string>
			<key>spriteSize</key>
			<string>{60,286}</string>
			<key>spriteSourceSize</key>
			<string>{149,287}</string>
			<key>textureRect</key>
			<string>{{2422,906},{60,286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_01_front_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{57,286}</string>
			<key>spriteSourceSize</key>
			<string>{62,287}</string>
			<key>textureRect</key>
			<string>{{2422,1194},{57,286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_02_back_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-48,0}</string>
			<key>spriteSize</key>
			<string>{77,288}</string>
			<key>spriteSourceSize</key>
			<string>{172,288}</string>
			<key>textureRect</key>
			<string>{{537,1578},{77,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_02_front_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{14,0}</string>
			<key>spriteSize</key>
			<string>{115,332}</string>
			<key>spriteSourceSize</key>
			<string>{144,332}</string>
			<key>textureRect</key>
			<string>{{827,1402},{115,332}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_03_back_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-18,0}</string>
			<key>spriteSize</key>
			<string>{162,288}</string>
			<key>spriteSourceSize</key>
			<string>{198,288}</string>
			<key>textureRect</key>
			<string>{{944,1641},{162,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_03_front_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{18,-1}</string>
			<key>spriteSize</key>
			<string>{140,354}</string>
			<key>spriteSourceSize</key>
			<string>{176,356}</string>
			<key>textureRect</key>
			<string>{{2003,1466},{140,354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_04_back_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-44,-1}</string>
			<key>spriteSize</key>
			<string>{90,292}</string>
			<key>spriteSourceSize</key>
			<string>{178,301}</string>
			<key>textureRect</key>
			<string>{{2422,1482},{90,292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_04_front_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{12,-1}</string>
			<key>spriteSize</key>
			<string>{76,346}</string>
			<key>spriteSourceSize</key>
			<string>{99,347}</string>
			<key>textureRect</key>
			<string>{{537,1736},{76,346}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_05_back_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-19,-6}</string>
			<key>spriteSize</key>
			<string>{95,267}</string>
			<key>spriteSourceSize</key>
			<string>{132,280}</string>
			<key>textureRect</key>
			<string>{{2145,1725},{95,267}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_05_front_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,296}</string>
			<key>spriteSourceSize</key>
			<string>{132,296}</string>
			<key>textureRect</key>
			<string>{{1587,1576},{132,296}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_06_back_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-48,0}</string>
			<key>spriteSize</key>
			<string>{77,288}</string>
			<key>spriteSourceSize</key>
			<string>{172,288}</string>
			<key>textureRect</key>
			<string>{{885,1805},{77,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_06_front_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-12,0}</string>
			<key>spriteSize</key>
			<string>{63,349}</string>
			<key>spriteSourceSize</key>
			<string>{86,350}</string>
			<key>textureRect</key>
			<string>{{1721,1822},{63,349}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spiderDash_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{12,1}</string>
			<key>spriteSize</key>
			<string>{848,74}</string>
			<key>spriteSourceSize</key>
			<string>{884,84}</string>
			<key>textureRect</key>
			<string>{{0,1850},{848,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_002.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-15,1}</string>
			<key>spriteSize</key>
			<string>{788,80}</string>
			<key>spriteSourceSize</key>
			<string>{884,84}</string>
			<key>textureRect</key>
			<string>{{850,1884},{788,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_003.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-121,2}</string>
			<key>spriteSize</key>
			<string>{600,74}</string>
			<key>spriteSourceSize</key>
			<string>{884,84}</string>
			<key>textureRect</key>
			<string>{{1640,1887},{600,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_004.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-187,3}</string>
			<key>spriteSize</key>
			<string>{476,72}</string>
			<key>spriteSourceSize</key>
			<string>{884,84}</string>
			<key>textureRect</key>
			<string>{{0,1926},{476,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_005.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-218,3}</string>
			<key>spriteSize</key>
			<string>{418,70}</string>
			<key>spriteSourceSize</key>
			<string>{884,84}</string>
			<key>textureRect</key>
			<string>{{1640,1963},{418,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_006.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-286,5}</string>
			<key>spriteSize</key>
			<string>{282,68}</string>
			<key>spriteSourceSize</key>
			<string>{884,84}</string>
			<key>textureRect</key>
			<string>{{2242,1822},{282,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_007.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-315,4}</string>
			<key>spriteSize</key>
			<string>{232,68}</string>
			<key>spriteSourceSize</key>
			<string>{884,84}</string>
			<key>textureRect</key>
			<string>{{2242,1892},{232,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_008.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-392,7}</string>
			<key>spriteSize</key>
			<string>{86,60}</string>
			<key>spriteSourceSize</key>
			<string>{884,84}</string>
			<key>textureRect</key>
			<string>{{478,1926},{86,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theTowerDoor_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-3}</string>
			<key>spriteSize</key>
			<string>{456,452}</string>
			<key>spriteSourceSize</key>
			<string>{464,458}</string>
			<key>textureRect</key>
			<string>{{2060,1963},{456,452}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theTowerLabel_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{6,-6}</string>
			<key>spriteSize</key>
			<string>{355,164}</string>
			<key>spriteSourceSize</key>
			<string>{368,176}</string>
			<key>textureRect</key>
			<string>{{566,1966},{355,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>GJ_GameSheet04-uhd.png</string>
		<key>size</key>
		<string>{2524,2415}</string>
		<key>textureFileName</key>
		<string>GJ_GameSheet04-uhd.png</string>
	</dict>
</dict>
</plist>