<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{52,0}</string>
			<key>spriteSize</key>
			<string>{671,100}</string>
			<key>spriteSourceSize</key>
			<string>{858,104}</string>
			<key>textureRect</key>
			<string>{{0,0},{671,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{291,102}</string>
			<key>spriteSourceSize</key>
			<string>{296,111}</string>
			<key>textureRect</key>
			<string>{{0,102},{291,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{180,48}</string>
			<key>spriteSourceSize</key>
			<string>{180,48}</string>
			<key>textureRect</key>
			<string>{{673,0},{180,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{180,47}</string>
			<key>spriteSourceSize</key>
			<string>{180,47}</string>
			<key>textureRect</key>
			<string>{{673,50},{180,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
		<key>size</key>
		<string>{853,204}</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
	</dict>
</dict>
</plist>