<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{26,0}</string>
			<key>spriteSize</key>
			<string>{339,52}</string>
			<key>spriteSourceSize</key>
			<string>{429,52}</string>
			<key>textureRect</key>
			<string>{{0,0},{339,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{146,51}</string>
			<key>spriteSourceSize</key>
			<string>{148,55}</string>
			<key>textureRect</key>
			<string>{{0,54},{146,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,24}</string>
			<key>spriteSourceSize</key>
			<string>{90,24}</string>
			<key>textureRect</key>
			<string>{{148,54},{90,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,23}</string>
			<key>spriteSourceSize</key>
			<string>{90,23}</string>
			<key>textureRect</key>
			<string>{{240,54},{90,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet.png</string>
		<key>size</key>
		<string>{339,105}</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet.png</string>
	</dict>
</dict>
</plist>