<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chestPlatform_01_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-5}</string>
			<key>spriteSize</key>
			<string>{309,62}</string>
			<key>spriteSourceSize</key>
			<string>{318,72}</string>
			<key>textureRect</key>
			<string>{{0,0},{309,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_01_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,66}</string>
			<key>spriteSourceSize</key>
			<string>{218,66}</string>
			<key>textureRect</key>
			<string>{{311,0},{218,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_02_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,66}</string>
			<key>spriteSourceSize</key>
			<string>{218,66}</string>
			<key>textureRect</key>
			<string>{{531,0},{218,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_03_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,66}</string>
			<key>spriteSourceSize</key>
			<string>{218,66}</string>
			<key>textureRect</key>
			<string>{{751,0},{218,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,66}</string>
			<key>spriteSourceSize</key>
			<string>{218,66}</string>
			<key>textureRect</key>
			<string>{{971,0},{218,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,66}</string>
			<key>spriteSourceSize</key>
			<string>{218,66}</string>
			<key>textureRect</key>
			<string>{{1191,0},{218,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,66}</string>
			<key>spriteSourceSize</key>
			<string>{218,66}</string>
			<key>textureRect</key>
			<string>{{1411,0},{218,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,66}</string>
			<key>spriteSourceSize</key>
			<string>{218,66}</string>
			<key>textureRect</key>
			<string>{{1631,0},{218,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,66}</string>
			<key>spriteSourceSize</key>
			<string>{218,66}</string>
			<key>textureRect</key>
			<string>{{1851,0},{218,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,66}</string>
			<key>spriteSourceSize</key>
			<string>{218,66}</string>
			<key>textureRect</key>
			<string>{{0,64},{218,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tier1label_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-8}</string>
			<key>spriteSize</key>
			<string>{289,95}</string>
			<key>spriteSourceSize</key>
			<string>{304,112}</string>
			<key>textureRect</key>
			<string>{{220,68},{289,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tier2label_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{8,-8}</string>
			<key>spriteSize</key>
			<string>{303,95}</string>
			<key>spriteSourceSize</key>
			<string>{320,112}</string>
			<key>textureRect</key>
			<string>{{511,68},{303,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomGround_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2136,106}</string>
			<key>spriteSourceSize</key>
			<string>{2136,106}</string>
			<key>textureRect</key>
			<string>{{0,165},{2136,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomLabel_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1037,116}</string>
			<key>spriteSourceSize</key>
			<string>{1037,116}</string>
			<key>textureRect</key>
			<string>{{0,273},{1037,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomSpiderweb_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{235,234}</string>
			<key>spriteSourceSize</key>
			<string>{240,236}</string>
			<key>textureRect</key>
			<string>{{1039,273},{235,234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>TreasureRoomSheet-uhd.png</string>
		<key>size</key>
		<string>{2136,507}</string>
		<key>textureFileName</key>
		<string>TreasureRoomSheet-uhd.png</string>
	</dict>
</dict>
</plist>