<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chestPlatform_01_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{79,18}</string>
			<key>spriteSourceSize</key>
			<string>{79,18}</string>
			<key>textureRect</key>
			<string>{{0,0},{79,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_01_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{81,0},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_02_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{137,0},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_03_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{193,0},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{249,0},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{305,0},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{361,0},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{417,0},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{473,0},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{81,18},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_09_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{137,18},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tier1label_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{75,26}</string>
			<key>spriteSourceSize</key>
			<string>{76,28}</string>
			<key>textureRect</key>
			<string>{{193,18},{75,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tier2label_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{78,26}</string>
			<key>spriteSourceSize</key>
			<string>{80,28}</string>
			<key>textureRect</key>
			<string>{{270,18},{78,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomGround_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{534,26}</string>
			<key>spriteSourceSize</key>
			<string>{534,26}</string>
			<key>textureRect</key>
			<string>{{0,46},{534,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomLabel_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{259,29}</string>
			<key>spriteSourceSize</key>
			<string>{259,29}</string>
			<key>textureRect</key>
			<string>{{0,74},{259,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomSpiderweb_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,59}</string>
			<key>spriteSourceSize</key>
			<string>{60,59}</string>
			<key>textureRect</key>
			<string>{{261,74},{60,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>TreasureRoomSheet.png</string>
		<key>size</key>
		<string>{534,133}</string>
		<key>textureFileName</key>
		<string>TreasureRoomSheet.png</string>
	</dict>
</dict>
</plist>