<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chestPlatform_01_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{157,34}</string>
			<key>spriteSourceSize</key>
			<string>{159,36}</string>
			<key>textureRect</key>
			<string>{{0,0},{157,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_01_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{159,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_02_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{270,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_03_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{381,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{492,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{603,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{714,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{825,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{936,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_price_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{159,35},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tier1label_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{147,50}</string>
			<key>spriteSourceSize</key>
			<string>{152,56}</string>
			<key>textureRect</key>
			<string>{{270,35},{147,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tier2label_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{154,50}</string>
			<key>spriteSourceSize</key>
			<string>{160,56}</string>
			<key>textureRect</key>
			<string>{{419,35},{154,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomGround_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1068,53}</string>
			<key>spriteSourceSize</key>
			<string>{1068,53}</string>
			<key>textureRect</key>
			<string>{{0,87},{1068,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomLabel_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{518,58}</string>
			<key>spriteSourceSize</key>
			<string>{518,58}</string>
			<key>textureRect</key>
			<string>{{0,142},{518,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomSpiderweb_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,118}</string>
			<key>spriteSourceSize</key>
			<string>{120,118}</string>
			<key>textureRect</key>
			<string>{{520,142},{120,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>TreasureRoomSheet-hd.png</string>
		<key>size</key>
		<string>{1068,260}</string>
		<key>textureFileName</key>
		<string>TreasureRoomSheet-hd.png</string>
	</dict>
</dict>
</plist>