<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>dankmeme.globed2/button-secret.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{132,138}</string>
				<key>textureRect</key>
				<string>{{0,781},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/deafen-icon-off.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{107,97}</string>
				<key>spriteSourceSize</key>
				<string>{124,124}</string>
				<key>textureRect</key>
				<string>{{247,781},{107,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/deafen-icon-on.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{111,97}</string>
				<key>spriteSourceSize</key>
				<string>{124,124}</string>
				<key>textureRect</key>
				<string>{{413,299},{111,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/icon-ban.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-0.5}</string>
				<key>spriteSize</key>
				<string>{166,163}</string>
				<key>spriteSourceSize</key>
				<string>{172,166}</string>
				<key>textureRect</key>
				<string>{{614,0},{166,163}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/icon-hide-player.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3}</string>
				<key>spriteSize</key>
				<string>{180,182}</string>
				<key>spriteSourceSize</key>
				<string>{184,188}</string>
				<key>textureRect</key>
				<string>{{191,415},{180,182}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/icon-kick-all.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2}</string>
				<key>spriteSize</key>
				<string>{180,182}</string>
				<key>spriteSourceSize</key>
				<string>{184,190}</string>
				<key>textureRect</key>
				<string>{{372,402},{180,182}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/icon-kick.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{184,190}</string>
				<key>spriteSourceSize</key>
				<string>{184,190}</string>
				<key>textureRect</key>
				<string>{{0,415},{184,190}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/icon-level-list.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-0.5}</string>
				<key>spriteSize</key>
				<string>{166,163}</string>
				<key>spriteSourceSize</key>
				<string>{172,166}</string>
				<key>textureRect</key>
				<string>{{614,167},{166,163}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/icon-logout.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-4}</string>
				<key>spriteSize</key>
				<string>{114,116}</string>
				<key>spriteSourceSize</key>
				<string>{118,124}</string>
				<key>textureRect</key>
				<string>{{132,781},{114,116}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/icon-mute.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{152,158}</string>
				<key>spriteSourceSize</key>
				<string>{152,158}</string>
				<key>textureRect</key>
				<string>{{720,334},{152,158}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/icon-person.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{115,131}</string>
				<key>spriteSourceSize</key>
				<string>{133,144}</string>
				<key>textureRect</key>
				<string>{{372,773},{115,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/icon-server-folder.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-0.5}</string>
				<key>spriteSize</key>
				<string>{166,163}</string>
				<key>spriteSourceSize</key>
				<string>{172,166}</string>
				<key>textureRect</key>
				<string>{{530,585},{166,163}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/icon-show-player.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3}</string>
				<key>spriteSize</key>
				<string>{180,182}</string>
				<key>spriteSourceSize</key>
				<string>{184,188}</string>
				<key>textureRect</key>
				<string>{{191,598},{180,182}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/icon-teleport.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{211,213}</string>
				<key>spriteSourceSize</key>
				<string>{216,226}</string>
				<key>textureRect</key>
				<string>{{0,0},{211,213}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/icon-unban.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-0.5}</string>
				<key>spriteSize</key>
				<string>{166,163}</string>
				<key>spriteSourceSize</key>
				<string>{172,166}</string>
				<key>textureRect</key>
				<string>{{553,334},{166,163}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/icon-unmute.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{152,158}</string>
				<key>spriteSourceSize</key>
				<string>{152,158}</string>
				<key>textureRect</key>
				<string>{{720,487},{152,158}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/icon-unwhitelist.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{160,141}</string>
				<key>spriteSourceSize</key>
				<string>{160,160}</string>
				<key>textureRect</key>
				<string>{{778,0},{160,141}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/icon-whitelist.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{157,141}</string>
				<key>spriteSourceSize</key>
				<string>{160,160}</string>
				<key>textureRect</key>
				<string>{{778,161},{157,141}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/menuicon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1.5}</string>
				<key>spriteSize</key>
				<string>{194,97}</string>
				<key>spriteSourceSize</key>
				<string>{200,200}</string>
				<key>textureRect</key>
				<string>{{413,201},{194,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/role-admin.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{200,200}</string>
				<key>spriteSourceSize</key>
				<string>{200,200}</string>
				<key>textureRect</key>
				<string>{{212,0},{200,200}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/role-booster.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{174,157}</string>
				<key>spriteSourceSize</key>
				<string>{174,171}</string>
				<key>textureRect</key>
				<string>{{0,600},{174,157}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/role-helper.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{200,200}</string>
				<key>spriteSourceSize</key>
				<string>{200,200}</string>
				<key>textureRect</key>
				<string>{{212,201},{200,200}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/role-mod.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{200,200}</string>
				<key>spriteSourceSize</key>
				<string>{200,200}</string>
				<key>textureRect</key>
				<string>{{0,214},{200,200}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/role-supporter.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{174,157}</string>
				<key>spriteSourceSize</key>
				<string>{174,171}</string>
				<key>textureRect</key>
				<string>{{372,585},{174,157}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/role-user.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{200,200}</string>
				<key>spriteSourceSize</key>
				<string>{200,200}</string>
				<key>textureRect</key>
				<string>{{413,0},{200,200}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/secret-question-mark.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{132,131}</string>
				<key>spriteSourceSize</key>
				<string>{132,138}</string>
				<key>textureRect</key>
				<string>{{694,640},{132,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dankmeme.globed2/speaker-icon-red.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{91,82}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>textureRect</key>
				<string>{{826,640},{91,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/speaker-icon-yellow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{91,82}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>textureRect</key>
				<string>{{826,723},{91,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dankmeme.globed2/speaker-icon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{91,82}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>textureRect</key>
				<string>{{553,498},{91,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>dankmeme.globed2/globedsheet1-uhd.png</string>
			<key>size</key>
			<string>{919,909}</string>
			<key>textureFileName</key>
			<string>dankmeme.globed2/globedsheet1-uhd.png</string>
		</dict>
	</dict>
</plist>