<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dankmeme.globed2/button-pin-level.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{0,0},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-ingame-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{49,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-ingame-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{85,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-invites-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{121,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-invites-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{157,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-lists-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{193,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-lists-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{229,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-roles-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{265,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-roles-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{301,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{337,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-secret.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{373,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/daily-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,75}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{409,0},{75,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,29}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>textureRect</key>
			<string>{{49,35},{31,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,29}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>textureRect</key>
			<string>{{82,35},{31,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/default-player-cube.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{115,35},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/featured-player-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{147,35},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/friend-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{146,30}</string>
			<key>spriteSourceSize</key>
			<string>{150,30}</string>
			<key>textureRect</key>
			<string>{{185,35},{146,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/friend-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{49,36}</string>
			<key>spriteSourceSize</key>
			<string>{50,36}</string>
			<key>textureRect</key>
			<string>{{333,35},{49,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-ban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{0,48},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-chat.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,44}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{45,66},{47,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-close-room.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{94,67},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{185,67},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{82,55}</string>
			<key>spriteSourceSize</key>
			<string>{82,59}</string>
			<key>textureRect</key>
			<string>{{230,67},{82,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{82,57}</string>
			<key>spriteSourceSize</key>
			<string>{82,59}</string>
			<key>textureRect</key>
			<string>{{314,73},{82,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-edition.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{398,77},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-epic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,9}</string>
			<key>spriteSize</key>
			<string>{48,49}</string>
			<key>spriteSourceSize</key>
			<string>{48,66}</string>
			<key>textureRect</key>
			<string>{{450,77},{48,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-featured-label.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{194,51}</string>
			<key>spriteSourceSize</key>
			<string>{194,51}</string>
			<key>textureRect</key>
			<string>{{0,112},{194,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,53}</string>
			<key>textureRect</key>
			<string>{{196,124},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{56,54}</string>
			<key>textureRect</key>
			<string>{{240,124},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-hide-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{450,127},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite-menu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{398,129},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,19}</string>
			<key>spriteSourceSize</key>
			<string>{26,19}</string>
			<key>textureRect</key>
			<string>{{296,132},{26,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-kick-all.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{324,132},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kick.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{373,164},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kofi.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{0,165},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-leave-server.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{45,165},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-level-list.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{81,165},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-logout.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,31}</string>
			<key>spriteSourceSize</key>
			<string>{29,31}</string>
			<key>textureRect</key>
			<string>{{126,165},{29,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,39}</string>
			<key>spriteSourceSize</key>
			<string>{38,39}</string>
			<key>textureRect</key>
			<string>{{159,168},{38,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-outstanding-overlay.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{40,21}</string>
			<key>spriteSourceSize</key>
			<string>{62,66}</string>
			<key>textureRect</key>
			<string>{{296,153},{40,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-outstanding.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,8}</string>
			<key>spriteSize</key>
			<string>{52,50}</string>
			<key>spriteSourceSize</key>
			<string>{62,66}</string>
			<key>textureRect</key>
			<string>{{422,175},{52,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-person.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{200,168},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-players.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,40}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{238,180},{47,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-refresh-square.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{319,180},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-send-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{126,208},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-server-folder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{175,208},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-show-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{45,208},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-teleport.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{355,212},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{0,208},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unmute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,39}</string>
			<key>spriteSourceSize</key>
			<string>{38,39}</string>
			<key>textureRect</key>
			<string>{{287,215},{38,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unwhitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{220,222},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-voice-chat-guide.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{413,227},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-whitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{458,227},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/kofi-promo-border.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{309,182}</string>
			<key>spriteSourceSize</key>
			<string>{309,182}</string>
			<key>textureRect</key>
			<string>{{0,264},{309,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/kofi-promo-card.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{329,193}</string>
			<key>spriteSourceSize</key>
			<string>{329,193}</string>
			<key>textureRect</key>
			<string>{{311,270},{329,193}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/list-border-bottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{389,45}</string>
			<key>spriteSourceSize</key>
			<string>{389,51}</string>
			<key>textureRect</key>
			<string>{{0,601},{389,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{24,64}</string>
			<key>spriteSourceSize</key>
			<string>{29,64}</string>
			<key>textureRect</key>
			<string>{{391,601},{24,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/list-border-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{394,46}</string>
			<key>spriteSourceSize</key>
			<string>{394,53}</string>
			<key>textureRect</key>
			<string>{{0,648},{394,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/menuicon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,29}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{457,601},{50,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/pencil.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{396,627},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/practice-gray-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,63}</string>
			<key>spriteSourceSize</key>
			<string>{61,64}</string>
			<key>textureRect</key>
			<string>{{425,653},{61,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-admin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{0,696},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-booster.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,42}</string>
			<key>textureRect</key>
			<string>{{52,696},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-cc1-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{97,696},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-dev.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{131,696},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-helper.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{165,696},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-mod.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{217,696},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-owner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{269,696},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-supporter.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,42}</string>
			<key>textureRect</key>
			<string>{{303,696},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-user.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{348,696},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-collision.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{400,716},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-deathlink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{448,716},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-lock.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{97,730},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/secret-question-mark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{269,739},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/shadow-thing-idk.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,23}</string>
			<key>spriteSourceSize</key>
			<string>{77,23}</string>
			<key>textureRect</key>
			<string>{{145,748},{77,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{305,739},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-yellow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{52,739},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{331,748},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/status-invisible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{357,748},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/status-visible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{224,748},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/tab-gradient-mask.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{91,30}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{392,764},{91,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/tab-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{394,53}</string>
			<key>spriteSourceSize</key>
			<string>{394,53}</string>
			<key>textureRect</key>
			<string>{{78,796},{394,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/title-daily.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{320,45}</string>
			<key>spriteSourceSize</key>
			<string>{320,45}</string>
			<key>textureRect</key>
			<string>{{52,851},{320,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/whitelist-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,29}</string>
			<key>spriteSourceSize</key>
			<string>{33,29}</string>
			<key>textureRect</key>
			<string>{{0,748},{33,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dankmeme.globed2/globedsheet1.png</string>
		<key>size</key>
		<string>{504,896}</string>
		<key>textureFileName</key>
		<string>dankmeme.globed2/globedsheet1.png</string>
	</dict>
</dict>
</plist>