<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dankmeme.globed2/button-admin-ban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{0,0},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-eject.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{49,0},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-history.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{98,0},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-kick.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{147,0},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{196,0},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-notice.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{245,0},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-password.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{294,0},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-unban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,48}</string>
			<key>spriteSourceSize</key>
			<string>{46,48}</string>
			<key>textureRect</key>
			<string>{{343,0},{46,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-unmute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{393,0},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-unwhitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{442,0},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-verify.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,48}</string>
			<key>spriteSourceSize</key>
			<string>{46,48}</string>
			<key>textureRect</key>
			<string>{{491,0},{46,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-whitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{0,48},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-pin-level.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{489,48},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-ingame-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{385,74},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-ingame-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{421,74},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-invites-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{49,78},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-invites-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{164,90},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-lists-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{85,93},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-lists-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{121,93},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-roles-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{200,96},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-roles-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{457,96},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{493,96},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-secret.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{0,96},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/conn-test-bars-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{236,104},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/conn-test-desktop-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{270,104},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/conn-test-internet-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{385,109},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/conn-test-xbl-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{419,109},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/daily-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,75}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{396,671},{75,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{31,28}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>textureRect</key>
			<string>{{49,48},{31,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{31,28}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>textureRect</key>
			<string>{{82,48},{31,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/default-player-cube.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{506,439},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/dummy-icon2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{506,471},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/featured-player-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{489,645},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/friend-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{146,30}</string>
			<key>spriteSourceSize</key>
			<string>{150,30}</string>
			<key>textureRect</key>
			<string>{{52,562},{146,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/friend-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{49,36}</string>
			<key>spriteSourceSize</key>
			<string>{50,36}</string>
			<key>textureRect</key>
			<string>{{304,111},{49,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-among-us.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{197,197}</string>
			<key>spriteSourceSize</key>
			<string>{220,197}</string>
			<key>textureRect</key>
			<string>{{36,131},{197,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-ban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{445,131},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-chat.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,43}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{115,48},{47,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-close-room.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{490,131},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{235,138},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{82,55}</string>
			<key>spriteSourceSize</key>
			<string>{82,59}</string>
			<key>textureRect</key>
			<string>{{473,680},{82,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-crown-small.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,32}</string>
			<key>spriteSourceSize</key>
			<string>{39,32}</string>
			<key>textureRect</key>
			<string>{{0,131},{39,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-crown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{82,57}</string>
			<key>spriteSourceSize</key>
			<string>{82,59}</string>
			<key>textureRect</key>
			<string>{{396,764},{82,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-discord.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{355,143},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-edition.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{480,764},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-epic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,9}</string>
			<key>spriteSize</key>
			<string>{48,49}</string>
			<key>spriteSourceSize</key>
			<string>{48,66}</string>
			<key>textureRect</key>
			<string>{{0,788},{48,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-featured-label.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{194,55}</string>
			<key>spriteSourceSize</key>
			<string>{194,55}</string>
			<key>textureRect</key>
			<string>{{51,788},{194,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,53}</string>
			<key>textureRect</key>
			<string>{{247,788},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-folder-settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,29}</string>
			<key>spriteSourceSize</key>
			<string>{34,29}</string>
			<key>textureRect</key>
			<string>{{400,143},{34,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{56,54}</string>
			<key>textureRect</key>
			<string>{{291,788},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-hide-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{280,149},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite-menu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{0,172},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,19}</string>
			<key>spriteSourceSize</key>
			<string>{26,19}</string>
			<key>textureRect</key>
			<string>{{329,149},{26,19}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kick-all.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{436,174},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kick.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{485,174},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kofi.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{235,181},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-leave-server.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{400,174},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-level-list.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{350,186},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-logout.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,31}</string>
			<key>spriteSourceSize</key>
			<string>{29,31}</string>
			<key>textureRect</key>
			<string>{{280,197},{29,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,39}</string>
			<key>spriteSourceSize</key>
			<string>{38,39}</string>
			<key>textureRect</key>
			<string>{{395,209},{38,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-outstanding-overlay.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{40,21}</string>
			<key>spriteSourceSize</key>
			<string>{62,66}</string>
			<key>textureRect</key>
			<string>{{347,788},{40,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-outstanding.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,8}</string>
			<key>spriteSize</key>
			<string>{51,50}</string>
			<key>spriteSourceSize</key>
			<string>{62,66}</string>
			<key>textureRect</key>
			<string>{{480,816},{51,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-person.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{313,197},{33,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-players.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,40}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{164,48},{47,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-refresh-square.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{0,207},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-send-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{347,811},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-server-folder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{436,222},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{481,222},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-show-motd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{235,224},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-show-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{213,48},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-teleport.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{262,48},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{348,229},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unmute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,39}</string>
			<key>spriteSourceSize</key>
			<string>{38,39}</string>
			<key>textureRect</key>
			<string>{{280,235},{38,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unwhitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{393,249},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-voice-chat-guide.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{435,265},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-whitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{480,265},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/kofi-promo-border.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{309,182}</string>
			<key>spriteSourceSize</key>
			<string>{309,182}</string>
			<key>textureRect</key>
			<string>{{0,330},{309,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/kofi-promo-card.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{329,193}</string>
			<key>spriteSourceSize</key>
			<string>{329,193}</string>
			<key>textureRect</key>
			<string>{{311,308},{329,193}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/list-border-bottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{389,44}</string>
			<key>spriteSourceSize</key>
			<string>{389,51}</string>
			<key>textureRect</key>
			<string>{{0,639},{389,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{24,64}</string>
			<key>spriteSourceSize</key>
			<string>{29,64}</string>
			<key>textureRect</key>
			<string>{{506,500},{24,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{394,46}</string>
			<key>spriteSourceSize</key>
			<string>{394,53}</string>
			<key>textureRect</key>
			<string>{{0,685},{394,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/menuicon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{0,514},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/pencil.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{506,307},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/practice-gray-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,63}</string>
			<key>spriteSourceSize</key>
			<string>{61,64}</string>
			<key>textureRect</key>
			<string>{{320,48},{61,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/room-icon-2p.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{52,514},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-collision.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{100,514},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-deathlink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{148,514},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-lock.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{196,514},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/secret-question-mark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{506,336},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/shadow-thing-idk.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,23}</string>
			<key>spriteSourceSize</key>
			<string>{77,23}</string>
			<key>textureRect</key>
			<string>{{506,566},{77,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{385,48},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{411,48},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-yellow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{437,48},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{463,48},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/status-invisible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{506,371},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/status-visible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{506,405},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/tab-gradient-mask.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{91,30}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{396,639},{91,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/tab-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{394,53}</string>
			<key>spriteSourceSize</key>
			<string>{394,53}</string>
			<key>textureRect</key>
			<string>{{0,733},{394,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/title-daily.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{320,45}</string>
			<key>spriteSourceSize</key>
			<string>{320,45}</string>
			<key>textureRect</key>
			<string>{{0,845},{320,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/white-period.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{532,500},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dankmeme.globed2/globedsheet1.png</string>
		<key>size</key>
		<string>{542,890}</string>
		<key>textureFileName</key>
		<string>dankmeme.globed2/globedsheet1.png</string>
	</dict>
</dict>
</plist>